{% assign countries_1 = product.metafields.coverage.country.value %}
{% assign countries_2 = product.metafields.coverage.country_2.value %}

{% if countries_1 == blank %}{% assign countries_1 = '' | split: ',' %}{% endif %}
{% if countries_2 == blank %}{% assign countries_2 = '' | split: ',' %}{% endif %}

{% assign countries_all = countries_1 | concat: countries_2 %}

<div
  class="coverage-block"
  data-base-url="https://cdn.shopify.com/s/files/1/0735/4204/1817/files/"
  data-version="?v=1739352504"
>
  <script type="application/json" class="product-coverage-json">
    {{ countries_all | json }}
  </script>

  <script type="application/json" class="variants-data-json">
    [
      {% for variant in product.variants %}
        {
          "id": {{ variant.id | json }},
          "options": {{ variant.options | json }},
          "coverage": {{ variant.metafields.variant.coverage.value | default: "[]" | json }}
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  </script>

  <ul class="coverage-container"></ul>
</div>
