{% style %}
  .ma-section-referral {
    padding: 10px 40px 20px;
    background-color: var(--color-neutral);
  }
{% endstyle %}

<section class="ma-section-referral">
  <h1>GLOBAL KOMUNIKA REFERRAL</h1>
  <p>We also offer a Referral Program that allows you to earn rewards by inviting your friends to join. Here’s how it works:</p>
  <ul>
    <li>Copy the Referral Link from the “Rewards” section – Get your unique referral link from your account.</li>
    <li><img
        src=""
        width="auto"
        height="30px"
        alt="image">
    </li>
    <li>
      Share with Your Friends – Send the link to your friends via social media, messaging apps, or email.
    </li>
    <li>Earn Rewards – Every time a friend joins using your link, both you and your friend will receive benefits!</li>

  </ul>
  <p>To check if your referral rewards have been successfully claimed, simply go to the “Rewards” section at the bottom right of your screen, then click “View Your Rewards” to see the status.</p>
  <h3>Rewards You’ll Get</h3>
  <ul>
    <li>You Receive: 25 points for every IDR 10,000 spent by your friend.</li>
    <li>Your Friend Receives: IDR 20,000 discount on their first purchase with minimum order IDR 200,000.</li>
  </ul>
  <p>The more friends you invite, the more rewards you earn! Start sharing your referral link now and enjoy exclusive benefits on Global Komunika.</p>
</section>