:root {
  --color-primary: #005496;
  --color-secondary: #00adee;
  --color-background: #f3fbfe;
  --color-background-secondary: #dbf5ff;
  --color-border: #d9d9d9;
  --color-neutral: #ffffff;
  --color-gray: #6c757d;
  --color-background-third: #b8ecff;
}
