@import "./_variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

@layer utilities {
  .wrapper {
    padding: 20px 24px;
  }

  .wrapper-base {
    padding: 20px 10%;
  }
}
