{% style %}
    .product-category__container {
        max-width: 1920px;
        margin: 0 auto;
    }
    .product-category__wrapper {
        padding: 30px 10% 0;
    }
    .product-category__content {
        display: flex;
        gap: 15px;
    }
    .product-category__items {
        padding: 10px;
        border-radius: 15px;
        background-color: var(--color-primary);
        border: none;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
    .product-category__items span {
        color: var(--color-neutral);
        font-size: var(--font-extra-large);
        font-weight: bold;
        text-align: left;
    }
{% endstyle %}

<section class="product-category__container">
    <div class="product-category__wrapper">
        <div class="product-category__content">
            <button class="product-category__items">{{- 'qrcode-category.svg' | inline_asset_content -}}<span>eSIM</span></button>
            <button class="product-category__items">{{- 'simcard-category.svg' | inline_asset_content -}}<span>SIM<br>Card</span></button>
            <button class="product-category__items">{{- 'insurance-category.svg' | inline_asset_content -}}<span>Insurance</span></button>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Product Category",
    "settings": [],
    "presets": [
      {
        "name": "Product Category",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
