<input
  type="text"
  id="iccid"
  placeholder="Masukkan ICCID" required>
<button onclick="checkICCID()">Cek</button>

<div id="result"></div>

<script>
  let lastSubmit = 0;
  function checkICCID() {
    const now = Date.now();
    if (now - lastSubmit < 3000) return; // minimum 3 detik antar klik
    lastSubmit = now;
    button.disabled = true;
    
    const iccid = document.getElementById('iccid').value;
  
    fetch('https://80e4-202-138-242-49.ngrok-free.app/api/v1/check/data_info', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      body: new URLSearchParams({ iccid: iccid })
    })
    .then(async (response) => {
      const contentType = response.headers.get("Content-Type") || "";
      const isJson = contentType.includes("application/json");
    
      let data = {};
      if (isJson) {
        try {
          data = await response.json();
        } catch (e) {
          // JSON parsing error, response tidak valid
          data = { message: 'Response tidak valid' };
        }
      }
    
      if (!response.ok) {
        document.getElementById('result').innerHTML = `
          <p style="color: red">${data.message || 'Terjadi kesalahan'}</p>
        `;
        return;
      }
    
      if (data.tradeCode === "1000" && data.tradeData &&
           (Array.isArray(data.tradeData) ? data.tradeData.length > 0 : Object.keys(data.tradeData).length > 0)
         ) {
        document.getElementById('result').innerHTML = `
          <pre>${JSON.stringify(data, null, 2)}</pre>
        `;
      } else {
        document.getElementById('result').innerHTML = `
          <p style="color: red">Data tidak ditemukan</p>
        `;
      }
    })
    .catch(error => {
      document.getElementById('result').innerHTML = `
        <p style="color: red">Terjadi kesalahan koneksi</p>
      `;
    });
  }
</script>

{% schema %}
  {
    "name": "Check Data Usage",
    "settings": [],
    "presets": [
      {
        "name": "Check Data Usage",
        "category": "Custom"
      }
    ]
  }
{% endschema %}