<input
  type="text"
  id="iccid"
  placeholder="Masukkan ICCID" required>
<button onclick="checkICCID()">Cek</button>

<div id="result"></div>

<script>
  function checkICCID() {
    const iccid = document.getElementById('iccid').value;
  
    fetch('https://0737-202-138-242-49.ngrok-free.app/api/v1/check/protected_data_info', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      body: new URLSearchParams({ iccid: iccid })
    })
    .then(response => response.json())
    .then(data => {
      if (data.tradeCode === "1000") {
        // Sukses
        if (data.tradeData && (Array.isArray(data.tradeData) ? data.tradeData.length > 0 : Object.keys(data.tradeData).length > 0)) {
          document.getElementById('result').innerHTML = `
            <pre>${JSON.stringify(data, null, 2)}</pre>
          `;
        } else {
          document.getElementById('result').innerHTML = `
          <p style="color: red;">Data tidak ditemukan</p>
        `;
        }
      } else {
        // Gagal
        document.getElementById('result').innerHTML = `
          <p style="color: red;">Terjadi kesalahan</p>
        `;
      }
    })
    .catch(error => {
      error.text().then(msg => {
        document.getElementById('result').innerHTML = `<p style="color:red">Terjadi kesalahan</p>`;
      });
    });
    }
</script>

{% schema %}
  {
    "name": "Check Data Usage",
    "settings": [],
    "presets": [
      {
        "name": "Check Data Usage",
        "category": "Custom"
      }
    ]
  }
{% endschema %}