<input
  type="text"
  id="iccid"
  placeholder="Masukkan ICCID">
<button onclick="checkICCID()">Cek</button>

<div id="result"></div>

<script>
  function checkICCID() {
    const iccid = document.getElementById('iccid').value;
  
    fetch('https://baa2-202-138-242-49.ngrok-free.app/api/v1/check/data_usage', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ iccid: iccid })
    })
    .then(response => response.json())
    .then(data => {
      document.getElementById('result').innerHTML = `
        <pre>${JSON.stringify(data, null, 2)}</pre>
      `;
    })
    .catch(error => {
      console.error('Error:', error);
    });
    }
</script>

{% schema %}
  {
    "name": "Check Data Usage",
    "settings": [],
    "presets": [
      {
        "name": "Check Data Usage",
        "category": "Custom"
      }
    ]
  }
{% endschema %}