<form>
  <input type="button" value="Check">
</form>

{% schema %}
  {
    "name": "Check Data Usage",
    "settings": [],
    "presets": [
      {
        "name": "Check Data Usage",
        "category": "Custom"
      }
    ]
  }
{% endschema %}