{% style %}
  .banner-search__container {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 150px;
  }
  .banner-search__wrapper {
    padding: 10% 20px;
  }
  .banner-search__content {
    width: 50%;
  }
  .banner-search__form {
    margin: 20px 30% 0 0;
  }
  .banner-search__content h2 {
    font-weight: bold;
    font-size: 34px;
    color: var(--color-primary);
    line-height: 1.5;
    margin: 0;
  }
  .banner-search__content span {
    font-size: 20px;
    color: var(--color-primary);
  }
  @media (max-width: 1441px) {
    .banner-search__wrapper {
      padding: 100px 10% 20px;
    }
    .banner-search__form {
      margin: 20px 0 0;
    }
  }
  @media (max-width: 426px) {
    .banner-search__wrapper {
      padding: 60px 24px 20px !important;
    }
    .banner-search__content {
      width: 100%;
    }
  }
{% endstyle %}

<div class="banner-search__container">
  <div class="banner-search__wrapper">
    <div class="banner-search__content">
      {%- if search.terms != blank -%}
        <h2>Search Result for “{{ search.terms }}”</h2>
      {%- else -%}
        <h2>{{ section.settings.heading_text }}</h2>
      {%- endif -%}
      <span>{{ section.settings.subheading_text }}</span>

      <div class="banner-search__form">
        {% if template.suffix == 'top-up' %}
          {% render 'search-bar-topup' %}
        {% elsif template.suffix == 'product-category' %}
          {% render 'search-bar-category' %}
        {% else %}
          {% render 'search-bar' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner Search",
  "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "All Destinations"
    },
    {
      "type": "text",
      "id": "subheading_text",
      "label": "Subheading Text",
      "default": "Find the perfect Internet Data for your travel and enjoy internet connection for more than 180 Countries"
    }
  ],
  "presets": [
    {
      "name": "Banner-search",
      "category": "Custom"
    }
  ]
}
{% endschema %}
