{% style %}
  .header-promo {
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-primary);
    text-align: center;
  }

  .header-promo h2 {
    color: var(--color-neutral);
    margin: 0;
    padding: 10px 20px;
    font-size: 20px;
  }

 @media (max-width: 768px) {
  .header-promo {
    top: 45px;
  }
 }
{% endstyle %}

<section class="header-promo">
  <h2 class="text-promo">
    Enjoy <strong>10% off</strong> with promo code <strong>GSIMXMAS</strong> on purchases over IDR 100,000 — Valid until <strong>December</strong>!
  </h2>
</section>

{% schema %}
{
  "name": "Header Promo",
  "settings": [],
  "presets": [
    {
      "name": "Header Promo",
      "category": "Custom"
    }
  ]
}
{% endschema %}
