<div>
  <section>
    <h2 class="text-primary font-bold text-[40px] text-center [text-shadow:0_5px_5px_rgba(0,0,0,0.35)]">What Makes Our eSIM China Special</h2>
    <div class="w-full flex items-center justify-center gap-[80px] px-[15%]">
      <div class="w-full max-w-[700px]">
        <div class="w-full flex items-center justify-center">
          ICON
        </div>
        <div class="w-full rounded-[10px] text-center bg-gradient-to-b from-primary via-secondary/80 to-secondary p-4 text-neutral font-bold text-[22px] leading-none">
          Fast 4G/5G Internet Connection
        </div>
      </div>
      <div class="w-full max-w-[700px]">
        <div class="w-full flex items-center justify-center">
          ICON
        </div>
        <div class="w-full rounded-[10px] text-center bg-gradient-to-b from-primary via-secondary/80 to-secondary p-4 text-neutral font-bold text-[22px] leading-none">
          Fast 4G/5G Internet Connection
        </div>
      </div>
      <div class="w-full max-w-[700px]">
        <div class="w-full flex items-center justify-center">
          ICON
        </div>
        <div class="w-full rounded-[10px] text-center bg-gradient-to-b from-primary via-secondary/80 to-secondary p-4 text-neutral font-bold text-[22px] leading-none">
          Fast 4G/5G Internet Connection
        </div>
      </div>
    </div>
    <div></div>
  </section>
</div>

{% schema %}
  {
    "name": "Landing Page",
    "presets": [
      {
        "name": "Landing Page",
        "category": "Custom Sections"
      }
    ]
  }
{% endschema %}