<section class="container">
  <div class="wrapper md:wrapper-base flex flex-nowrap space-x-5 overflow-x-auto scroll-smooth">
    <button
      id="btn-esim"
      class="bg-primary flex rounded-[15px] gap-2.5  items-center justify-center p-[15px]"
      data-category="esim">
      <div class="shrink-0">
        {% render 'icon-qr-code' %}
      </div>
      <span class="text-neutral font-bold text-3xl">eSIM</span>
    </button>

    <button
      id="btn-simcard"
      class="bg-primary flex rounded-[15px] gap-2.5  items-center justify-center p-[15px]"
      data-category="sim-card">
      <div class="shrink-0">
        {% render 'icon-simcard' %}
      </div>
      <span class="text-neutral font-bold text-3xl">SIM Card</span>
    </button>

    <button
      id="btn-insurance"
      class="bg-primary flex rounded-[15px] gap-2.5  items-center justify-center p-[15px]"
      data-category="insurance">
      <div class="shrink-0">
        {% render 'icon-insurance' %}
      </div>
      <span class="text-neutral font-bold text-3xl">Insurance</span>
    </button>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Ambil elemen berdasarkan ID
    const btnEsim = document.getElementById('btn-esim');
    const btnSimcard = document.getElementById('btn-simcard');
    const btnInsurance = document.getElementById('btn-insurance');
  
    // Fungsi untuk redirect
    function goToCategory(button) {
      const categoryValue = button.getAttribute('data-category');
      if (categoryValue) {
        window.location.href = `/pages/product-category?sim_type=${encodeURIComponent(categoryValue)}`;
      }
    }
  
    // Pasang event listener
    btnEsim.addEventListener('click', () => goToCategory(btnEsim));
    btnSimcard.addEventListener('click', () => goToCategory(btnSimcard));
    btnInsurance.addEventListener('click', () => goToCategory(btnInsurance));
  });
</script>

{% schema %}
  {
    "name": "Product Category Button",
    "settings": [],
    "presets": [
      {
        "name": "Product Category Button",
        "category": "Custom"
      }
    ]
  }
{% endschema %}