<div
  style="margin:100px auto 0;"
  class="pxFormGenerator"
  id="lWxmC0m0rSQ1-doeX1yQoA"></div>

{% schema %}
  {
    "name": "Reseller Section",
    "settings": [],
    "presets": [
      {
        "name": "Reseller Section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}