* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  touch-action: manipulation;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "Arial";
  src: url("{{ "Arial.ttf" | asset_url }}") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("{{ "Gotham-Book.ttf" | asset_url }}") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Terapkan font secara global */
body {
  font-family: "Gotham", "Arial", sans-serif;
}

h1,
h2,
h3,
p,
span {
  font-family: "Gotham", "Arial", sans-serif;
}
