.menu-list {
  transition: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
.menu-list:hover {
  background: transparent !important;
  transform: none !important;
}
.menu-list:hover .menu-label {
  color: var(--color-primary) !important;
}

.header-cart__badge {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.animated-icon span {
  transition: all 0.2s ease-in-out;
}
.animated-icon.open span:nth-child(1) {
  top: 8px;
  transform: rotate(45deg);
}
.animated-icon.open span:nth-child(2) {
  opacity: 0;
}
.animated-icon.open span:nth-child(3) {
  top: 8px;
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .sidebar-panel {
    transition: max-height 0.35s ease, opacity 0.25s ease;
  }
}

.language-popup__container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-popup__content {
  width: 400px;
  border-radius: 15px;
  padding: 20px;
  background-color: var(--color-neutral);
  opacity: 1;
  box-shadow: var(--box-shadow);
}

.language-popup__content-title {
  margin: 0;
  line-height: 1.2;
  color: var(--color-primary);
  font-weight: bold;
}

.language-popup__content-paragraph {
  color: var(--color-primary);
}

.language-popup__option-wrapper span {
  color: var(--color-primary);
}

.language-popup__footer {
  margin-top: 20px;
  text-align: right;
}

.language-popup__button {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: var(--color-neutral);
  border: none;
  font-size: var(--font-large);
  border-radius: 8px;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.language-selector-form select {
  width: 100%;
  border-radius: 15px;
  font-size: var(--font-large);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  outline: none;
}

@media (max-width: 768px) {
  .language-popup__content {
    width: 100%;
    margin: 0 24px;
  }
}

.htu__container {
  max-width: 1920px;
  margin: 0 auto;
}

.htu__wrapper {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.htu__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.htu__title {
  font-weight: bold;
  margin: 10px 0;
  line-height: 1.5;
  font-size: 30px;
  color: var(--color-primary);
}

.htu__card-title {
  font-weight: bold;
  font-size: var(--font-supper-large);
  color: var(--color-primary);
  line-height: 1.3;
  margin: 0;
}

.htu__card-paragraph {
  font-size: var(--font-large);
  color: var(--color-primary);
  line-height: 1.3;
  margin: 0;
}

.htu__htu-card,
.htu__wgk-card,
.htu__benefits-card {
  background-color: var(--color-neutral);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.htu__htu-number {
  font-size: var(--font-large);
  background: var(--color-neutral);
  color: var(--color-primary);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.htu__customer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 500px;
  gap: 2.5rem;
}

.htu__customer-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.htu__customer-content.bottom {
  justify-content: flex-end;
}

.htu__cutomer-content.wrapper {
  background-color: var(--color-primary);
  border-radius: 15px;
  padding: 15px;
}

.htu__customer-profile {
  font-size: var(--font-supper-large);
  font-weight: bold;
  color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.htu__customer-comment {
  font-size: var(--font-large);
  color: var(--color-neutral);
  text-align: center;
}

.htu__benefits {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .htu__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .htu__title {
    font-size: 28px;
  }

  .htu__wrapper {
    padding: 0 24px;
  }

  .htu__customer-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.sidebar-link {
  color: var(--color-primary) !important;
}

.sidebar-link .menu-label {
  color: var(--color-primary) !important;
}

.sidebar-list li {
  padding: 12px 0 !important;
}

.sidebar-list {
  padding: 12px 16px !important;
}
